@model IEnumerable<TripCommon.TripAdvice>

@{
    ViewBag.Title = "Advices";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                Advises
            </h1>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
        <div id="no-more-tables">
            <table class="col-md-12 table table-hover cf">
                <thead class="cf">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AdviceType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PlaceName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GeoLocation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AdviceText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RankPlace)
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AdviceDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-title=@Html.DisplayNameFor(model => model.UserName)>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td data-title=@Html.DisplayNameFor(model => model.AdviceType)>
                                @Html.DisplayFor(modelItem => item.AdviceType)
                            </td>
                            <td data-title=@Html.DisplayNameFor(model => model.PlaceName)>
                                @Html.DisplayFor(modelItem => item.PlaceName)
                            </td>
                            <td data-title=@Html.DisplayNameFor(model => model.GeoLocation)>
                                @Html.DisplayFor(modelItem => item.GeoLocation).ToString().Split(',')[0] ,
                                @Html.DisplayFor(modelItem => item.GeoLocation).ToString().Split(',')[1]
                            </td>
                            <td data-title=@Html.DisplayNameFor(model => model.Country)>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>
                            <td data-title=@Html.DisplayNameFor(model => model.City)>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td data-title=@Html.DisplayNameFor(model => model.AdviceText)>
                                @Html.DisplayFor(modelItem => item.AdviceText)
                            </td>
                            <td data-title=@Html.DisplayNameFor(model => model.RankPlace)>
                                @Html.DisplayFor(modelItem => item.RankPlace)
                            </td>
                            <td>
                                @*Html.DisplayFor(modelItem => item.ThumbnailURL)*@
                                <img src="@item.ThumbnailURL" class="my-thumbnail img-rounded" />
                            </td>
                            <td data-title="Advice Date">
                                @Html.DisplayFor(modelItem => item.AdviceDate).ToString().Split(' ')[0]
                            </td>
                            <td>
                                <h5 class="inline-href">
                                    <a href="/Advisors/Edit/@item.TripAdviceID">Edit </a> | <a href="/Advisors/Details/@item.TripAdviceID"> Details </a> | <a href="/Advisors/Delete/@item.TripAdviceID"> Delete </a>
                                </h5>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>